@charset "utf-8";
*{margin:0;padding:0;font-size:12px; color:#666;}
	h1,h2,h3,h4,h5,h6{font-weight:normal;}
	a{text-decoration:none;color:#666;}
	a img{border:none;}
	ul,ol,dl,dt,dd,li{margin:0;padding:0;}
	li{list-style:none;}
	i,em{font-style:normal;}
	b,strong{font-weight:normal;}
	.clearfix:after{display:block; content:''; clear:both;}
	.clearfix{zoom:1;}
	.fl{float:left;}
	.fr{float:right;}
	a:link{color:#666666;}
	a:hover{color:#ff6699;}
	img{vertical-align:top;}/* CSS Document */

