body{
    background:url("../img/body_repeat.png") repeat-x #d4d5e0;
}
.box{
    width: 100%;
    background:url("../img/body_bg.jpg") no-repeat;
    margin:0 auto;
    font-family:'Microsoft YaHei';
}
.top-nav{
    width: 100%;
    height: 48px;
    background:rgba(255,255,255,0.94);
    border-top:2px solid #fa7d3c;
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
}
#top_nav2{
    width: 100%;
    height: 50px;
}
.top-inner{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    display:block;
    background:url("../img/WB_logo.png") no-repeat 50% 40%;
    width: 140px;
    height: 48px;
    cursor:pointer;
}
.search{
    width: 600px;
    margin-left: 10px;
    height: 28px;
    margin-top:9px;
    border:1px solid #ccc;
    position:relative;
}
.W_input{
    width: 557px;
    height: 20px;
    outline:none;
    padding:4px 33px 4px 10px;
    background:#f2f2f5;
    border:0;
    font-family:"Microsoft YaHei";
}
#login_list{
    margin:11px 0 10px 0;
}
#login_list li{
    line-height:26px;
    margin:0 15px;
}
#login_list a{
    font-size:14px;
    font-family:"Microsoft YaHei";
}
#login_list .S_line1{
    height:14px;
    border-left:1px solid #d9d9d9;
    margin:6px 0 10px 0;
}
#plus{
    width: 596px;
    background:#fff;
    position:absolute;
    top: 33px;
    left:0;
    border:1px solid #ccc;
    display:none;
}
#plus li{
    height:32px;
    line-height:32px;
    padding-left:13px;
    cursor:pointer;
}
.complete{
    font-family:"Microsoft YaHei";
    color:#fa7d3c;
}
.icon_num{
    border-radius: 8px;
    background:#696e78;
    margin-right:5px;
    padding:0 5px;
    font-family:"Microsoft YaHei";
    color:#fff;
}
#plus li a{
    font-family:"Microsoft YaHei";
}
.red{
    background:#df3e3e;
}
.orange{
    background:#fa7d3c;
}
.sousuo{
    width: 15px;
    height: 15px;
    position:absolute;
    top: 6px;
    right:13px;
    background:url("../img/search2.png") no-repeat;
}
#opa{
    width: 1000px;
    min-height:680px;
    margin:0 auto;
    background:rgba(36,61,89,0.25);
    padding-top:16px;
}
#left_nav{
    width: 150px;
    position:fixed;
    top:66px;
}
#left_nav li{
    width: 100%;
    height: 34px;
    margin-bottom:10px;
    cursor:pointer;
}
.ln-con{
    color:#fff;
    font-size:14px;
    line-height:34px;
    font-family:"Microsoft YaHei";
    position:relative;
    z-index: 2;
}
.ln-pic{
    width: 26px;
    margin:-1px 10px 0 40px;
    height:100%;
    background:url("../1/1.png") no-repeat 2px 8px;
    position:relative;
    z-index: 2;
}
.active{
    /*background:#fff;*/
    /*opacity:0.2;*/
    /*filter:alpha(opacity:20);*/
    background:rgba(255,255,255,0.2);
}
#main{
    width: 850px;
    height: 2440px;
    margin-left:150px;
}
#main .con{
    width: 600px;
    margin-right:10px;
}
#main .con li{
    width: 560px;
    height: 120px;
    padding:20px;
    background:#fff;
    margin-bottom:10px;
    border-radius:2px;
    cursor:pointer;
}
.con-pic{
    width: 120px;
    height: 120px;
}
.con-text{
    width: 424px;
    height: 120px;
    padding-left:16px;
}
.con-text h3{
    font-size:18px;
    font-weight:bold;
    margin-top:12px;
    color:#333;
}
.con-text p{
    font-size:12px;
    color:#808080;
    margin:10px 0;
}
.con-right{
    width: 230px;

}
.con-right li{
    margin-bottom:10px;
}
.login{
    width: 200px;
    height: 280px;
    background:#fff;
    padding:0 15px 6px 15px;
    margin-bottom:10px;
    border-radius:2px;
    position:relative;
}
.chose{
    width: 200px;
    height: 36px;
    background:#fff;
    border-radius:2px;
    padding:15px
}
.info-header{
    width: 200px;
    height: 33px;
    margin-bottom:16px;
    padding-top:11px;
    border-bottom:1px solid #ccc;
}
.W_fb{
    width: 100px;
    height: 30px;
    color:#808080;
    line-height:30px;
    text-align:center;
    font-size:14px;
    font-family:'Microsoft YaHei';

}
.on{
    border-bottom:3px solid #fa7d3c;
    font-weight:700;
    color:#000;
}
.W_icon_rec{
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 16px;
    margin-top: 7px;
    margin-right: -10px;
}
.W_icon_rec_txt{
    display: block;
    float: left;
    width: 30px;
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    border-radius: 3px 3px 0 3px;
    background: #fa7d3c;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.jiao{
    display: block;
    float: left;
    width: 0;
    height: 0;
    border: 2px solid #fa7d3c;
    position:absolute;
    top:12px;
    left:30px;
    border-top-color: transparent;
    border-right-color: transparent;
}
.safety-login{
    position: relative;
    width: 172px;
    height: 174px;
    margin: 0 13px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-align: center;
    padding-top: 14px;
}
.safety-login p{
    font-family:'Microsoft YaHei';
    margin-top:2px;
}
.login-pic{
    width: 150px;
}
.safety-login-bottom{
    margin-top:5px;
    text-align:center;
}
.safety-login-bottom span{
    font-family:'Microsoft YaHei';
    color:#808080;
}
.safety-login-bottom a{
    font-family:'Microsoft YaHei';
    color:#fa7d3c;
}
.send-phone{
    width: 40px;
    height: 40px;
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
    background:url("../img/sprite_login.png") 0 -150px;
}
.hot-point{
    height: 300px;
    background:#fff;
}
#up{
    width: 24px;
    height: 28px;
    background:#696e78;
    position:fixed;
    bottom:40px;
    right:120px;
    padding:6px 8px;
}

