#UNO{
  width: 369px;
  height: 255px;
  background-image: url(../../img/UNO.png);
  background-size:369px 255px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

#LED{

  width: 80px;
  height: 120px;
  background-image: url(../../img/LED.png);
  background-size:80px 120px;
  left: 50%;
  position:absolute;
  transform:translate(-50%,-200px);
  border-style:solid;
  border-width:5px;
  border-radius: 10px;
  border-color: #FFF;
}

.LEDfont{
  color:white;
}

#CsonnectionPoint13{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: yellow;
  left:  116px;
  top: 8px;
}

#CsonnectionPointGnd{
  width: 4px;
  height: 4px;
  background-color: yellow;
  margin-left:  201px;
  margin-top: 231px;
}