        #nav {
            width: 20%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: #fff;
        }
        #main {
            background: rgb(235, 235, 235);
            position: relative;
            min-height: 900px;
        }
        #con{
            margin-left: 20%;
            position: relative;
            overflow: hidden;
        }
        #container {
            width: 90%;
            margin:50px auto;
        }
        .logobox{
            width: 100%;
            height: 30%;
            position:relative;
        }
        .logo{
            width: 160px;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-30px;
            margin-left:-80px;
        }
        .navlist{
            width: 100%;
            height: 70%;
            position:absolute;
            top:30%;
            left:0;
        }
        .navlist li{
            height: 11%;
            width: 100%;
            left:0;
            color:#000;
            cursor: pointer;
            transition: 1s all ease;
            position:relative;
        }
        .navlist li span{
            font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
            font-size:20px;
            position: absolute;
            top:0;
            left:0;
  
            filter:alpha(opacity=0);
        }
        .navlist li:hover{
            background:#000;
            color:#fff;
        }
        .navlist li.active{
            color:#1abc9c;
        }
        .item{
            width: 400px;
            height: 260px;
            float: left;
            margin:20px;
            overflow: hidden;
        }
        .item img{
            width: 100%;
        }
        #container li div{
            border-radius: 0 0 0 0;
            transition: 0.1s all ease;
            position:relative;
            overflow: hidden;
        }
        #container span{
            position:absolute;
            top:50%;
            left:100%;
            width: 100%;
            height: 50px;
            background:#B22512;
            color:#fff;
            font-size:16px;
            line-height:50px;
            margin-top:-25px;
            font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
            text-align:center;
            transition: 0.1s all ease;
        }
        #container li div:hover{
            border-radius: 100px 100px 100px 0;
        }
        #container li:hover span{
            left:0;
        }